* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  color: #6495ed;
}
a:hover {
  cursor: pointer;
}

button {
  font-family: "Montserrat", sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  opacity: 0; /* for animation */
}

section > h3 {
  margin: 1rem 0;
}

ul {
  padding-left: 40px;
  list-style-type: square;
}

ul li {
  margin: 5px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  font-size: 15px;
  color: #7a7a7a;
}

h3 {
  font-weight: normal;
  color: #7a7a7a;
}

@media (max-width: 768px) {
  ul {
    padding-left: 20px;
  }
}

@media (min-width: 769px) {
  section {
    padding: 4rem;
  }
}

@media (min-width: 1201px) {
  section {
    padding: 4rem 8rem;
  }
}
