.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.grid {
    flex: 1;
    display: grid;
}

.grid-width-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* keeps grid items equal width */
}

.grid-width-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)); /* keeps grid items equal width */
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important; /* keeps grid items equal width */
    }
}

@media (max-width: 425px) {
    .singleCol {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important; /* keeps grid items equal width */
    }
}
