.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech img {
  width: 150px;
  margin: auto;
}

.tech span {
  text-align: center;
}

@media (max-width: 768px) {
  .tech img {
    width: 100px;
    margin: auto;
    padding: 0.5rem;
  }
}
