* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.hud {
    position: fixed;
    z-index: 99;
    bottom: 0;
    right: 0;

    padding-bottom: 2rem;
    padding-right: 2rem;
}

.hud > a {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}
