.postHeader {
    height: 50px;
    display: flex;
    align-items: center;

    padding: 0 2rem;

    position: fixed;
    top: 0;
    width: 100vw;

    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.postHeader a {
    text-decoration: none;
    color: #7a7a7a;
}
.postHeader a:hover {
    color: black;
}

.post {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 80px !important; /* clear header */
    margin-bottom: 80px !important;
}

.content > * {
    margin: 1rem 0;
    line-height: 150%;
}

.content pre {
    line-height: normal;

    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.postImage {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .post {
        margin: 0 2rem;
    }
}
