.post {
    max-width: 600px;
    margin: 0 auto;

    line-height: 150%;
}

.post > * {
    margin: 1rem 0;
}

.post pre {
    line-height: normal;

    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .post {
        margin: 2rem;
    }
}
