.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech img {
  width: 150px;
  margin: auto;
}

@media (max-width: 768px) {
  .tech img {
    width: 100px;
    margin: auto;
  }
}
